* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #000;
}

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculatorContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #666;
    border-radius: 24px;
    padding: 12px;
}

.display {
    border-radius: 12px;
    padding: 12px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 100%;
}

.display p {
    color: #fff;
    text-align: right;
    font-family: sans-serif;
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.display p.history {
    font-size: 18px;
}

.display p.current {
    font-size: 64px;
    font-weight: 300;
}

.buttons {
    display: flex;
    gap: 12px;
}

.numberButtons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.operatorButtons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttonRow {
    display: flex;
    gap: 12px;
}

.buttons button {
    height: 80px;
    width: 80px;
    background-color: #272727;
    border-radius: 40%;
    font-size: 36px;
    color: #fff;
}

.operatorButtons button {
    background-color: #d7820f;
}
