* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: sans-serif;
    line-height: 1;
}

body {
    background-color: #000;
}

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculatorContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 12px;
}

.display {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 320px;
    height: 120px;
}

.display p {
    color: #fff;
    text-align: end;
    font-weight: 300;
}

.display p#historyDisplay {
    font-size: 18px;
}

.display p#currentDisplay {
    font-size: 64px;
}

.buttons {
    display: flex;
    gap: 12px;
}

.numberButtons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.operatorButtons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttonRow {
    display: flex;
    gap: 12px;
}

.buttons button {
    height: 72px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    border-radius: 50%;
    font-size: 36px;
    color: #fff;
    transition: opacity 0.1s ease-in-out;
}

.buttons button:hover {
    cursor: pointer;
    opacity: 0.6;
    filter: brightness(0.9);
}

.buttons button:active {
    opacity: 1;
    filter: brightness(1.2);
}

button.orangeButton {
    background-color: #d7820f;
}

button.grayButton {
    background-color: #959595;
}
